## DICTIONARY

In [2]:
#clear()	Removes all the elements from the dictionary
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
Student.clear()
Student

{}

In [3]:
#copy()	Returns a copy of the dictionary
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
X=Student.copy()
X

{'Name': 'Nita', 'Age': '20', 'Class': '12'}

In [6]:
#fromkeys()	Returns a dictionary with the specified keys and value
X=("Nita","Priya","Raj")
Y="Class11"
Z = dict.fromkeys(X, Y)
Z

{'Nita': 'Class11', 'Priya': 'Class11', 'Raj': 'Class11'}

In [9]:
#get()	Returns the value of the specified key
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
x=Student.get("Age")
x

'20'

In [10]:
#items()	Returns a list containing a tuple for each key value pair
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
x=Student.items()
x

dict_items([('Name', 'Nita'), ('Age', '20'), ('Class', '12')])

In [11]:
#keys()	Returns a list containing the dictionary's keys
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
x=Student.keys()
x

dict_keys(['Name', 'Age', 'Class'])

In [13]:
#pop()	Removes the element with the specified key
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
Student.pop("Age")
Student

{'Name': 'Nita', 'Class': '12'}

In [14]:
#popitem()	Removes the last inserted key-value pair
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
Student.popitem()
Student

{'Name': 'Nita', 'Age': '20'}

In [19]:
#setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
Student={"Name":"Nita",
        
        "Class":"12"}
x = Student.setdefault("Age", "22")

print(x)
Student

22

{'Name': 'Nita', 'Class': '12', 'Age': '22'}

In [22]:
#update()	Updates the dictionary with the specified key-value pairs
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
Student.update({"Marks": "92"})
Student

{'Name': 'Nita', 'Age': '20', 'Class': '12', 'Marks': '92'}

In [23]:
#values()	Returns a list of all the values in the dictionary
Student={"Name":"Nita",
        "Age":"20",
        "Class":"12"}
x=Student.values()
x

dict_values(['Nita', '20', '12'])